.seat-map{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding-left : 220px;
    padding-top : 120px;
}
.booking-container{
    display: flex;
}

.referance-container{
 padding-top : 120px;
 padding-left : 130px;
 align-items: center;
}

.span{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 7px;
}

.icons-container{
    display: flex;
    margin: 25px;
}
.grey-icon{
    fill : rgb(11, 182, 11)
}
.proceed-btn{
    background-color: rgb(196, 9, 9);
    color: whitesmoke;
}

:hover .proceed-btn{
    background-color: rgba(255, 0, 0, 0.882);
    border-color: goldenrod;
}